[submodule "vendor/github.com/orbs-network/membuffers"]
	path = vendor/github.com/orbs-network/membuffers
	url = https://github.com/orbs-network/membuffers
[submodule "vendor/github.com/orbs-network/orbs-spec"]
	path = vendor/github.com/orbs-network/orbs-spec
	url = https://github.com/orbs-network/orbs-spec
[submodule "vendor/github.com/orbs-network/go-mock"]
	path = vendor/github.com/orbs-network/go-mock
	url = https://github.com/orbs-network/go-mock
[submodule "vendor/github.com/google/go-cmp"]
	path = vendor/github.com/google/go-cmp
	url = https://github.com/google/go-cmp
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/time"]
	path = vendor/golang.org/x/time
	url = https://go.googlesource.com/time
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "vendor/github.com/orbs-network/lean-helix-go"]
	path = vendor/github.com/orbs-network/lean-helix-go
	url = https://github.com/orbs-network/lean-helix-go
[submodule "vendor/github.com/orbs-network/orbs-contract-sdk"]
	path = vendor/github.com/orbs-network/orbs-contract-sdk
	url = https://github.com/orbs-network/orbs-contract-sdk
[submodule "vendor/github.com/codahale/hdrhistogram"]
	path = vendor/github.com/codahale/hdrhistogram
	url = https://github.com/codahale/hdrhistogram
[submodule "vendor/github.com/VividCortex/ewma"]
	path = vendor/github.com/VividCortex/ewma
	url = https://github.com/VividCortex/ewma
[submodule "vendor/github.com/ethereum/go-ethereum"]
	path = vendor/github.com/ethereum/go-ethereum
	url = https://github.com/ethereum/go-ethereum
[submodule "vendor/github.com/go-playground/ansi"]
	path = vendor/github.com/go-playground/ansi
	url = https://github.com/go-playground/ansi
[submodule "vendor/github.com/orbs-network/orbs-client-sdk-go"]
	path = vendor/github.com/orbs-network/orbs-client-sdk-go
	url = https://github.com/orbs-network/orbs-client-sdk-go
[submodule "vendor/github.com/orbs-network/orbs-ethereum-contracts"]
	path = vendor/github.com/orbs-network/orbs-ethereum-contracts
	url = https://github.com/orbs-network/orbs-ethereum-contracts
[submodule "vendor/github.com/c9s/goprocinfo"]
	path = vendor/github.com/c9s/goprocinfo
	url = https://github.com/c9s/goprocinfo
