
# Created by https://www.gitignore.io/api/go,intellij

### tmp build artifacts ###
_tmp
*.prof

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

### Go dep ###
vendor

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Intellij/GoLand ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Ignore all XML files except run configurations
.idea/**/*.xml
!.idea/runConfigurations/*.xml

.idea/**/*.iml

## To re-enable a specific XML file within .idea, use the following pattern (remove the leading #)
# !.idea/vcs.xml

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint

.DS_Store

# Logs
*.log
logs/

# binaries
orbs-*
.deploy.json
devtools/gamma-server/json/*.json
gamma-cli
gamma-server
