version: 2
jobs:
  tests:
    docker:
      - image: circleci/golang:1.11.4
    resource_class: large
    working_directory: /go/src/github.com/orbs-network/orbs-network-go/
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: go get -u github.com/jstemmer/go-junit-report
      - run: ./test.sh
      - store_artifacts:
          path: _out
      - store_test_results:
          path: _out

  flakiness:
    docker:
      - image: circleci/golang:1.11.4
    resource_class: xlarge
    working_directory: /go/src/github.com/orbs-network/orbs-network-go/
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: go get -u github.com/jstemmer/go-junit-report
      - run:
          command: ./test.flakiness.sh
          no_output_timeout: 25m
      - store_test_results:
          path: /go/src/github.com/orbs-network/orbs-network-go/_out

  e2e:
    machine: true
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: ./docker/build/build.sh
      - run: ./docker/test/test.sh
      - run: docker tag orbs:export $DOCKER_IMAGE:$(./docker/tag.sh)
      - run: docker tag orbs:export $DOCKER_IMAGE:$(./docker/hash.sh)
      - run: $(aws ecr get-login --no-include-email --region us-west-2)
      - run: docker push $DOCKER_IMAGE
      - store_artifacts:
          path: _logs


  notify_github_about_dashboard:
    machine: true
    steps:
      - checkout
      - run: python ./.circleci/post-dashboard-link.py

  success:
    machine: true
    steps:
      - run: echo 'Success'

  deploy_testnet:
    machine: true
    steps:
      - checkout
      - run: ./.circleci/set-aws-credentials.sh
      - run: ./.circleci/deploy-testnet.sh

  e2e_testnet:
    machine: true
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: ./docker/build/build.sh
      - run: ./.circleci/e2e-testnet.sh 42
      - run: ./.circleci/e2e-testnet.sh 2013

  release_gamma:
    machine: true
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: ./docker/build/build.sh
      - run: ./.circleci/release-gamma.sh

  autonomous_swap:
    machine: true
    steps:
      - checkout
      - run: ./git-submodule-checkout.sh
      - run: ./docker/build/build.sh
      - run: docker tag orbs:gamma-server orbsnetwork/gamma:experimental
      - run: cd vendor/github.com/orbs-network/orbs-ethereum-contracts/ && .circleci/main.sh

workflows:
  version: 2
  build:
    jobs:
      - tests
      - e2e
      - flakiness
      - notify_github_about_dashboard
      - autonomous_swap
      - success:
          requires:
            - tests
            - flakiness
            - autonomous_swap
      - deploy_testnet:
          requires:
            - e2e
#          filters:
#            branches:
#              only:
#                - master
      - e2e_testnet:
          requires:
            - deploy_testnet
#          filters:
#            branches:
#              only:
#                - master
      - release_gamma:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
